{
  "openapi": "3.1.0",
  "info": {
    "title": "CrawlForge REST API",
    "version": "1.0.0",
    "description": "30 metered web tools behind one API key, sent as the X-API-Key header. Every call is priced in credits: x-credits on an operation is its base price, and a tool with a per-unit or conditional price explains it in x-credits-note and x-extra. Credits are deducted only after a call succeeds. Every error response, whatever its status, charges nothing. A successful response reports credits_used and credits_remaining. Each tool also answers GET with the self-description this document was generated from. Full reference, including each tool's response shape: https://www.crawlforge.dev/docs/api-reference",
    "termsOfService": "https://www.crawlforge.dev/terms",
    "contact": {
      "name": "CrawlForge",
      "email": "simon@crawlforge.dev"
    }
  },
  "servers": [
    {
      "url": "https://www.crawlforge.dev/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "tools",
      "description": "The web tools. POST runs a tool and is metered; GET describes it and is free."
    }
  ],
  "paths": {
    "/tools/agent": {
      "post": {
        "operationId": "agent",
        "summary": "Autonomous research/extraction from a natural-language prompt — no URLs required. Plans search queries, fetches and filters relevant pages, and returns a prose or structured answer under hard safety caps. Agent runs can exceed the REST API's ~50s window (the MCP tool allows 120s) — keep maxSteps/maxUrls small, or use the CrawlForge MCP server for long runs.",
        "tags": [
          "tools"
        ],
        "x-credits": 8,
        "x-extra": {
          "availability": {
            "hosted_api": true,
            "mcp_server": true,
            "note": "Runs on the CrawlForge execution backend. Agent runs can exceed the REST API's ~50s window (the MCP tool allows up to 120s wall-clock) — keep maxSteps/maxUrls small, or use the CrawlForge MCP server for long runs. model \"pro\" is not available via the REST API."
          }
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              },
              "example": {
                "prompt": "Find the current pricing tiers for the top 3 MCP web-scraping providers",
                "maxSteps": 3,
                "maxUrls": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 8 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_agent",
        "summary": "Describe agent",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/analyze_content": {
      "post": {
        "operationId": "analyze_content",
        "summary": "Analyze web content for language, keywords, sentiment, and readability",
        "tags": [
          "tools"
        ],
        "x-credits": 3,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/analyze-content",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeContentRequest"
              },
              "example": {
                "url": "https://example.com/article",
                "analyze_sentiment": true,
                "extract_keywords": true,
                "detect_language": true,
                "analyze_readability": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 3 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_analyze_content",
        "summary": "Describe analyze_content",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/batch_scrape": {
      "post": {
        "operationId": "batch_scrape",
        "summary": "Fetch up to 50 URLs concurrently in one synchronous call, returning title, text, and optional CSS-extracted fields per URL",
        "tags": [
          "tools"
        ],
        "x-credits": 5,
        "x-credits-note": "5 per URL attempted (skipped URLs are not charged)",
        "x-extra": {
          "execution_model": {
            "mode": "synchronous",
            "time_budget": "20s of fetching per batch; URLs not started in time return status \"skipped\" and are not charged",
            "robots": "URLs disallowed by the target's robots.txt, URLs on a host CrawlForge has permanently blocked or that asked us to back off, and URLs whose host declares a Crawl-delay too long for the batch budget all return status \"skipped\" (with the reason in error) and are not charged; the reasons are summarized in notes",
            "crawl_delay": "A robots.txt Crawl-delay is honoured per host: URLs on that host are fetched one at a time, spaced by the delay, while other hosts keep the full concurrency",
            "per_url_timeout": "8s",
            "javascript": "Pages are fetched without JavaScript execution; screenshots and JS rendering require a browser — use the CrawlForge MCP server (npm: crawlforge-mcp-server)",
            "results_retention": "The full result set is stored for 24h and retrievable via get_batch_results using the returned batch_id"
          }
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/batch-scrape",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchScrapeRequest"
              },
              "example": {
                "urls": [
                  {
                    "url": "https://example1.com/products",
                    "id": "site1"
                  },
                  {
                    "url": "https://example2.com/products",
                    "id": "site2"
                  }
                ],
                "batch_config": {
                  "concurrency": 5
                },
                "extraction_template": {
                  "fields": [
                    {
                      "name": "title",
                      "selector": "h1"
                    },
                    {
                      "name": "price",
                      "selector": ".price"
                    },
                    {
                      "name": "canonical",
                      "selector": "link[rel=\"canonical\"]",
                      "attribute": "href"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 5 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_batch_scrape",
        "summary": "Describe batch_scrape",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/crawl_deep": {
      "post": {
        "operationId": "crawl_deep",
        "summary": "Crawl websites deeply using breadth-first search to discover and extract content",
        "tags": [
          "tools"
        ],
        "x-credits": 4,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/crawl-deep",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlDeepRequest"
              },
              "example": {
                "start_url": "https://example.com",
                "max_pages": 20,
                "max_depth": 3,
                "same_domain_only": true,
                "crawl_delay": 1000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 4 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_crawl_deep",
        "summary": "Describe crawl_deep",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/deep_research": {
      "post": {
        "operationId": "deep_research",
        "summary": "Multi-query web research: runs Google searches, fetches the top sources, and returns the most relevant passages verbatim with citations. Synthesis is extractive (no LLM on the hosted API) — for LLM-synthesized research use the CrawlForge MCP server.",
        "tags": [
          "tools"
        ],
        "x-credits": 10,
        "x-extra": {
          "response_shape": {
            "methodology": "Queries run, backend used, source counts, synthesis: extractive, llm_used: false",
            "key_findings": "Up to 10 query-relevant passages, each with text, source_url, source_title, relevance_score. Author/affiliation and DOI front-matter is excluded, passages that barely mention the topic are dropped rather than used as padding (so this list can be short), and no single source domain fills more than 40% of it while another source has a passage to offer",
            "sources": "Every source considered: url, title, snippet, fetched (false = search snippet only), domain",
            "summary": "Extractive summary — the highest-scoring sentences from the findings, verbatim"
          }
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/deep-research",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepResearchRequest"
              },
              "example": {
                "research_query": "impact of remote work on software team productivity",
                "research_scope": {
                  "depth_level": "moderate",
                  "time_range": "year"
                },
                "max_sources": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 10 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_deep_research",
        "summary": "Describe deep_research",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/extract_content": {
      "post": {
        "operationId": "extract_content",
        "summary": "Extract main article content from web pages using readability detection",
        "tags": [
          "tools"
        ],
        "x-credits": 2,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/extract-content",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractContentRequest"
              },
              "example": {
                "url": "https://example.com/article",
                "include_images": true,
                "include_links": false,
                "clean_html": true,
                "extract_main_content": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 2 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_extract_content",
        "summary": "Describe extract_content",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/extract_embedded_state": {
      "post": {
        "operationId": "extract_embedded_state",
        "summary": "Return the JSON state a page already ships in its own HTML: __NEXT_DATA__, React Server Component flight chunks (self.__next_f), __NUXT__, __APOLLO_STATE__, __INITIAL_STATE__, __PRELOADED_STATE__ and <script type=\"application/json\"> blocks. One fetch, exact values, and no LLM in the extraction path — the numbers come from the site's own serialized state, so they cannot be fabricated. Sources are reported in \"found\" with their sizes; use \"path\" to return one subtree instead of a multi-megabyte blob. Results are never truncated.",
        "tags": [
          "tools"
        ],
        "x-credits": 2,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/extract-embedded-state",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractEmbeddedStateRequest"
              },
              "example": {
                "url": "https://www.ticketmaster.com/discover/concerts",
                "path": "next_data.props.pageProps"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 2 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_extract_embedded_state",
        "summary": "Describe extract_embedded_state",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/extract_links": {
      "post": {
        "operationId": "extract_links",
        "summary": "Extract and analyze all links from HTML content",
        "tags": [
          "tools"
        ],
        "x-credits": 1,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/extract-links",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractLinksRequest"
              },
              "example": {
                "url": "https://example.com",
                "include_external": true,
                "include_internal": true,
                "filter_domains": [
                  "example.com",
                  "subdomain.example.com"
                ],
                "deduplicate": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 1 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_extract_links",
        "summary": "Describe extract_links",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/extract_metadata": {
      "post": {
        "operationId": "extract_metadata",
        "summary": "Extract comprehensive metadata from HTML including SEO, social, and technical information",
        "tags": [
          "tools"
        ],
        "x-credits": 1,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/extract-metadata",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractMetadataRequest"
              },
              "example": {
                "url": "https://example.com",
                "include_social": true,
                "include_seo": true,
                "include_technical": true,
                "include_structured_data": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 1 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_extract_metadata",
        "summary": "Describe extract_metadata",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/extract_structured": {
      "post": {
        "operationId": "extract_structured",
        "summary": "Extract structured data matching a JSON Schema from CSS selector hints, JSON-LD structured data, and OpenGraph/meta tags. LLM-guided extraction is available via the CrawlForge MCP server, not this endpoint.",
        "tags": [
          "tools"
        ],
        "x-credits": 3,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/extract-structured",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractStructuredRequest"
              },
              "example": {
                "url": "https://example.com/product",
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "price"
                  ]
                },
                "selectorHints": {
                  "title": "h1.product-title",
                  "price": ".price"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 3 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_extract_structured",
        "summary": "Describe extract_structured",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/extract_text": {
      "post": {
        "operationId": "extract_text",
        "summary": "Extract clean text content from HTML with various formatting options",
        "tags": [
          "tools"
        ],
        "x-credits": 1,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/extract-text",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractTextRequest"
              },
              "example": {
                "url": "https://example.com",
                "selector": "article",
                "clean": true,
                "preserve_links": true,
                "max_length": 5000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 1 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_extract_text",
        "summary": "Describe extract_text",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/extract_with_llm": {
      "post": {
        "operationId": "extract_with_llm",
        "summary": "Extract structured data from a URL or text using a natural-language prompt. On a locally-run MCP server this defaults to local Ollama; provider \"openai\" or \"anthropic\" use cloud models.",
        "tags": [
          "tools"
        ],
        "x-credits": 3,
        "x-extra": {
          "availability": {
            "hosted_api": true,
            "mcp_server": true,
            "note": "Runs on the CrawlForge execution backend. Which providers actually work depends on that backend's configuration: the default \"auto\"/\"ollama\" path uses the Ollama endpoint configured there (e.g. Ollama Cloud via OLLAMA_BASE_URL + OLLAMA_API_KEY), and provider \"openai\"/\"anthropic\" run only with API keys configured on the backend. For extraction against your own local Ollama, run the CrawlForge MCP server yourself."
          }
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/extract-with-llm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractWithLlmRequest"
              },
              "example": {
                "url": "https://example.com/article",
                "prompt": "Extract the article title, author, and key takeaways",
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "takeaways": {
                      "type": "array"
                    }
                  },
                  "required": [
                    "title"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 3 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_extract_with_llm",
        "summary": "Describe extract_with_llm",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/fetch_url": {
      "post": {
        "operationId": "fetch_url",
        "summary": "Fetch content from a URL with optional headers and configuration",
        "tags": [
          "tools"
        ],
        "x-credits": 1,
        "x-extra": {
          "notes": [
            "Responses include response_time_ms — how long the target took to respond and deliver its body.",
            "Bodies are decoded using the response's own charset (Content-Type, then a <meta charset> sniff) rather than assumed UTF-8.",
            "A body larger than 25MB is refused with RESPONSE_TOO_LARGE (413) and is not charged."
          ]
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/fetch-url",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchUrlRequest"
              },
              "example": {
                "url": "https://example.com",
                "headers": {
                  "Accept": "text/html"
                },
                "timeout": 15000,
                "follow_redirects": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 1 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_fetch_url",
        "summary": "Describe fetch_url",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/generate_llms_txt": {
      "post": {
        "operationId": "generate_llms_txt",
        "summary": "Generate llms.txt (and optionally llms-full.txt) from a real analysis of the site: fetches the target page, robots.txt, and sitemap.xml, then reads up to 8 key same-domain pages (about/docs/pricing/blog/api/contact/faq and similar) for their titles, descriptions, and main text.",
        "tags": [
          "tools"
        ],
        "x-credits": 5,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/generate-llms-txt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateLlmsTxtRequest"
              },
              "example": {
                "url": "https://example.com",
                "format": "both",
                "outputOptions": {
                  "organizationName": "Example Inc.",
                  "contactEmail": "ai@example.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 5 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_generate_llms_txt",
        "summary": "Describe generate_llms_txt",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/get_batch_results": {
      "post": {
        "operationId": "get_batch_results",
        "summary": "Retrieve paginated results for a batch_scrape job by batchId. Results are stored for 24h after the batch completes and are only readable by the account that submitted the batch. batch_scrape runs synchronously, so a stored result set is always complete and the response reports status \"completed\".",
        "tags": [
          "tools"
        ],
        "x-credits": 1,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/get-batch-results",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBatchResultsRequest"
              },
              "example": {
                "batchId": "3f6f2b8e-8c1a-4a52-9f65-2d0f4a9be1c7",
                "page": 1,
                "limit": 25
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 1 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_get_batch_results",
        "summary": "Describe get_batch_results",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/list_ollama_models": {
      "post": {
        "operationId": "list_ollama_models",
        "summary": "Lists the Ollama models installed on the machine running the MCP server. Use this to discover which model values you can pass to extract_with_llm.",
        "tags": [
          "tools"
        ],
        "x-credits": 1,
        "x-extra": {
          "availability": {
            "hosted_api": true,
            "mcp_server": true,
            "note": "Runs on the CrawlForge execution backend and lists models on that backend's Ollama instance, which may not exist — in that case the call fails without charging. The tool is mainly useful on a locally-run MCP server, where it lists your own models."
          }
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/list-ollama-models",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOllamaModelsRequest"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 1 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_list_ollama_models",
        "summary": "Describe list_ollama_models",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/localization": {
      "post": {
        "operationId": "localization",
        "summary": "Multi-language and geo-location management for international content",
        "tags": [
          "tools"
        ],
        "x-credits": 2,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/localization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalizationRequest"
              },
              "example": {
                "url": "https://example.com",
                "target_language": "en",
                "target_country": "US",
                "detect_language": true,
                "extract_hreflang": true,
                "check_geo_targeting": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 2 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_localization",
        "summary": "Describe localization",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/map_site": {
      "post": {
        "operationId": "map_site",
        "summary": "Enumerate a site's pages: reads {origin}/sitemap.xml when available (up to 500 URLs, following up to 3 child sitemaps), otherwise falls back to a bounded breadth-first crawl (up to 30 pages, ~18s budget)",
        "tags": [
          "tools"
        ],
        "x-credits": 2,
        "x-extra": {
          "response_notes": {
            "source": "'sitemap' when the URL list came from sitemap.xml, 'crawl' when discovered by crawling",
            "max_depth_reached": "Actual deepest page crawled; null in sitemap mode (no crawl performed)",
            "sitemap": "Map of crawled page URL to the links found on it; null in sitemap mode"
          }
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/map-site",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapSiteRequest"
              },
              "example": {
                "url": "https://example.com",
                "max_depth": 2,
                "include_external": false,
                "timeout": 15000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 2 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_map_site",
        "summary": "Describe map_site",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/process_document": {
      "post": {
        "operationId": "process_document",
        "summary": "Fetch a document by URL and extract its real text, metadata, and tables. Supported on this endpoint: PDF (text, metadata, tables via pdf-parse), CSV (text + parsed rows), TXT, and HTML (text + metadata). DOCX/XLSX return 501 and are supported by the CrawlForge MCP server.",
        "tags": [
          "tools"
        ],
        "x-credits": 2,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/process-document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessDocumentRequest"
              },
              "example": {
                "url": "https://example.com/document.pdf",
                "document_type": "auto",
                "extract_text": true,
                "extract_metadata": true,
                "extract_tables": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 2 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_process_document",
        "summary": "Describe process_document",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/read_result": {
      "post": {
        "operationId": "read_result",
        "summary": "Read part of a stored result. A tool whose result exceeded max_inline_chars returned a preview and a result_handle; this reads the stored copy by character range (slice), by case-insensitive literal search with context and offsets (search), by line (lines), or by dotted JSON path (json_path). Results are kept for 1 hour and are readable only by the account that produced them. Nothing is fetched.",
        "tags": [
          "tools"
        ],
        "x-credits": 1,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/read-result",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadResultRequest"
              },
              "example": {
                "handle": "res_3f6f2b8e-8c1a-4a52-9f65-2d0f4a9be1c7",
                "operation": "search",
                "query": "Pricing",
                "max_matches": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 1 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_read_result",
        "summary": "Describe read_result",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/reddit_search": {
      "post": {
        "operationId": "reddit_search",
        "summary": "Search Reddit posts/comments or read a full comment thread — reads the Arctic Shift community archive (reddit.com blocks direct scraping). A scoped search (subreddit or author) queries the archive directly. A Reddit-wide keyword search finds posts with a site-restricted web search and then reads those posts from the archive — or, in comments mode, searches each of the first five posts' comments for the keywords — because Arctic Shift cannot keyword-search across all of Reddit. A scoped comment search Arctic Shift times out on is retried over the last 7d and 3d and reports window_applied. PullPush stopped serving automated clients in August 2026 and is no longer tried automatically.",
        "tags": [
          "tools"
        ],
        "x-credits": 5,
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/reddit-search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedditSearchRequest"
              },
              "example": {
                "query": "best mechanical keyboard",
                "subreddit": "MechanicalKeyboards",
                "limit": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 5 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "describe_reddit_search",
        "summary": "Describe reddit_search",
        "description": "The tool's self-description: its price, its request schema and an example body. No API key is needed.",
        "tags": [
          "tools"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The ToolInfo this document was generated from.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/tools/scrape": {
      "post": {
        "operationId": "scrape",
        "summary": "Unified single-fetch, multi-format extraction. One fetch serves every requested format: markdown, html, rawHtml, text, links, metadata. A bot-defence challenge page returns success: false with blocked.vendor whatever its HTTP status; an empty shell or an error placeholder served as HTTP 200 is a failure too. Neither is charged. With escalate: true that same call renders the page once in a stealth browser and returns the formats from it, instead of returning the block.",
        "tags": [
          "tools"
        ],
        "x-credits": 2,
        "x-extra": {
          "credits_addon": {
            "query_format": 1,
            "escalation": 5,
            "description": "query_format is added once per call when a highlights or question format is present; mode 'model' is rejected here and charged nothing. escalation is added only when escalate: true AND the stealth render actually ran — a call that asked to escalate and was served the page by the plain fetch pays the base price, so the projection base + escalation is a ceiling, never a floor."
          }
        },
        "x-docs-url": "https://www.crawlforge.dev/docs/api-reference/tools/scrape",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequest"
              },
              "example": {
                "url": "https://example.com",
                "formats": [
                  "markdown",
                  "links",
                  "metadata"
                ],
                "onlyMainContent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result; 2 credits charged (see x-credits-note and x-extra for add-ons).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_ERROR: the body does not match the request schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS: the balance does not cover the tool's base price. X-Auto-Recharge-Triggered says whether an automatic recharge was started; retry once it lands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMIT_EXCEEDED: your plan's rate limit. Retry-After: 60.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "TOOL_ERROR, INTERNAL_ERROR or CREDIT_DEDUCTION_FAILED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Any other error. Which of 403, 404, 413, 422, 501, 502, 503 and 504 a tool can return depends on what it does (fetching a page, calling the execution backend, reading stored results); the code vocabulary is listed on the ErrorResponse schema.",
            "content": {
              "application/json": {
[...]
